<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpro.haleater">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lpro.haleater.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.lpro.haleater.IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lpro.haleater.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.lpro.haleater.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="com.lpro.haleater.CameraResult" />
        <activity android:name="com.lpro.haleater.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.lpro.haleater.RegisterActivity" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.lpro.haleater.ComplexActivity" />
        <activity android:name="com.lpro.haleater.WeightActivity" />
        <activity android:name="com.lpro.haleater.BirthDateActivity" />
        <activity android:name="com.lpro.haleater.NameActivity" />
        <activity android:name="com.lpro.haleater.CameraResultUserActivity" />
        <activity android:name="com.lpro.haleater.GalleryActivity" />
        <activity android:name="com.lpro.haleater.ImageActivity"></activity>
    </application>

</manifest>